---
layout: default
---

<article class="post hentry">
    <header class="entry-header">
        <h2 class="post-title entry-title">
            {{ page.title }}
        </h2>
    </header>

    <div class="post-body entry-content">
        {{ content }}
    </div>

    <div class="footer-navigation">
        <div>
            {% if page.previous %}
            <a class="img-summary img-navigation" href="{{ page.previous.url }}">
                <img src="{{ page.previous.image }}"/>
                <div class="dark-layer"></div>
                <div class="navigation-title">
                    Aventure précédente :<br/>
                    {{ page.previous.title }}
                </div>
            </a>
            {% endif %}
        </div>
        <div>
            <a class="img-summary img-navigation" href="{{ site.url }}">
                <img src="{{ page.image }}"/>
                <div class="dark-layer"></div>
                <div class="navigation-title">Retour à l'accueil</div>
            </a>
        </div>
        <div>
            {% if page.next %}
            <a class="img-summary img-navigation" href="{{ page.next.url }}">
                <img src="{{ page.next.image }}"/>
                <div class="dark-layer"></div>
                <div class="navigation-title">
                    Aventure suivante :<br/>
                    {{ page.next.title }}
                </div>
            </a>
            {% endif %}
        </div>
    </div><!-- end footer-navigation -->

</article>

