---
layout: default
---

{% include map.html %}

<script>
var map = L.map('map');

var points = [
{% for post in page.posts %}{% for point in post.points %}
    [{{ point[1] }}, {{ point[2]}}, ["{{ point[0]}}", "{{ post.url }}"]],
{% endfor %}{% endfor %}
];

map.fitBounds(points);

var gl = L.mapboxGL({
    accessToken: "{{ site.mapbox_token }}",
    style: 'mapbox://styles/mapbox/light-v9',
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
}).addTo(map);

points.forEach(function(point) {
  L.marker(point).addTo(map).bindTooltip(point[2][0]).on("click", function() { window.location = point[2][1]; });
});

</script>

{% include list-post.html posts=page.posts %}
